html{
  position: relative;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  background-color: #222;
}
a:hover{
  text-decoration: none !important;
}
a:focus{
  outline: none !important;
}
/*************************OTHER************************************/
.aside {
  background-color: #222 !important;
}
.modal-footer {
  background-color: #F2F2F2;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
}
.modal-header {
  border-radius: 10px 10px 0px 0px;
  background-color: #A94442;
  color: #fff;
}
.modal-content {
  border-radius: 20px 20px 20px 20px !important;
}
.modal-body {
  border-radius: 0px 0px 10px 10px;
  background-color: #F2F2F2;
  color: #A94442;
  font-weight: bold;
}
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  vertical-align: middle;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  /*font-size: 45px;*/
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-waring,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}
[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

/*************************************END OTHER***********************************/
/**************************************LOGIN*******************************************/
.headerLog{
  background: #222222;
  height: 10rem;
}
.main{
  background: #222222;
}
.signIn{
  background: #101010;
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
  height: 8rem;
  /*box-shadow: 0px 0px 10px #fff;*/
}
.formLog{
  background: #F2F2F2;
  /*box-shadow: 0px 0px 10px #fff;*/
}
.signMe{
  height: 8rem;
  background: #101010;
  border-radius: 0px 0px 10px 10px;
  /*box-shadow: 0px 0px 10px #fff;*/
}
.signMe button{
  margin-top: 2rem;
}
.whiteLine{
  height: 0.4rem;
  background: #9D9D9D;
  /*box-shadow: 0px 0px 10px #fff;*/
}
/**********************************END LOGIN*******************************************/
/**************************************INDEX*******************************************/
.background{
  background: #F2F2F2;
}
/*
.navbar-nav>li>a:hover{
background-color: #333 !important;
}
.navbar-nav>li>a.active{
background-color: #000 !important;
color:#FFF !important;
}
.navbar-nav>li.active>a:hover{
background-color: #000 !important;
color:#FFF !important;
}
.navbar-inverse .navbar-brand{
color: #9d9d9d !important;
}
.navbar-inverse .navbar-brand:hover{
color: #FFF !important;
background-color: #333 !important;
}
.inverse-dropdown{
background-color: #222 !important;
border-color: #080808 !important;
}
.inverse-dropdown>li>a{
color: #9d9d9d !important;
}
.inverse-dropdown>li>a:hover{
color: #fff !important;
background-color: #000 !important;
}

.inverse-dropdown>li>a:focus{
background-color: #222 !important;
}
.inverse-dropdown>li>a.active{
color: #fff !important;
background-color: #000 !important;
}
.inverse-dropdown>.divider {
background-color: #000 !important;
}*/
.footerMain{
  background: #101010;
}
/**********************************END INDEX*******************************************/
/**********************************HOME*******************************************/
.headerHome{
  padding-top: 10rem;
  background-image: url(../img/welcome.jpg);
  background-position: center;
  width: 100%;
  height: 70rem;
}
.imgbc{
  color: #FFF;
}
#video{
  padding-top: 10rem;
  padding-bottom: 10rem;
  /*background: #FFF;*/
}
.videoHome{
  padding-top: 15px;

}

.asideMain{
  color: #333;
  padding-top: 0px;
}
.h1{
  color:#333;
  margin-top: 0px;
  padding-left: 15px;*/
}
.asideMain a{
  color: #000;
  text-decoration: none
}
.asideMain a:focus{
  color: #000;
  text-decoration: none
}
.asideMain a:hover{
  text-decoration: none;
}
/*.left.carousel-control{
color:#FF7F00 !important;
}
.right.carousel-control{
color:#FF7F00 !important;
}
.carousel-indicators li{
border-color: #FF7F00 !important;
}
.carousel-indicators li.active{
background-color: #FF7F00 !important;
}*/
.centerVideo{
  display: table-cell;
  vertical-align: middle;
}
.imgIcon{
  width: 40px;
  height: 40px;
}
.imgAboutUs{
  width: 150px;
  height: 150px;
}
.upDown{
  vertical-align: text-bottom;
  font-weight: bold;
}
#info{
  background: #222222;
  color:#FFF;
}
.ref {
  height: 70px;
}
.videoCanvas {
/* Always stretch the canvas to 640x480, regardless of its
internal size. */
width: 100%;
height: auto;
margin-left: 15px;
margin-right: 15px;
background-color: #000;
}
.dropdown-whiteColor .select {
  background-color: #fff !important;
}
.responsive-container {
    position: relative;
    width: 100%;
    height: 405px;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    background-color: #222;
    
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container { /*img*/
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/video-streaming.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}
.form-group .dropdown-menu{
  background-color: #fff !important;
}
.form-group .dropdown-menu > li > a:hover,
.form-group .dropdown-menu > li > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #F2F2F2;
}
.form-group .dropdown-menu > .active > a,
.form-group .dropdown-menu > .active > a:hover,
.form-group .dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #9d9d9d;
  outline: 0;
}
/**********************************END HOME*******************************************/
/**********************************STATICS*******************************************/
#statistics{
  padding-top: 5rem;
  background: #F2F2F2;
  width: 100%;
  height: auto;
}
#stats{
  padding-top: 10rem;
  background: #F2F2F2;
  width: 100%;
  height: auto;
}
.st{
  display: table !important;
  height: 101.111px !important;
}
.start{
  display:table-cell !important;
  vertical-align:middle !important;
  width: auto !important;
}
.imgimg{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.Back{
  background:#FFF;
}
.pBack{
  background: #00c0ef;
  color:#000;
}
.mBack{
  background: #dd4b39;
  color:#000;

}
.cBack{
  background: #00a65a;
  color:#000;
}
.bBack{
  background: #f39c12;
  color:#000;
}
.linkBlack a{
  color : #333;
  text-decoration: none;
}
.linkBlack a:visited{
  color : #333;
  text-decoration: none;
}
.linkBlack a:link{
  color : #000;
  text-decoration: none;
}
.linkBlack a:active{
  color : #000;
  text-decoration: none;
}
.linkBlack a:hover{
  color : #000;
  text-decoration: none;
}
.dropdown-whiteColor .dropdown-menu {
  background-color: #fff !important;
}
/**********************************END STATICS*******************************************/
/**********************************INFO*******************************************/

/**********************************END INFO*******************************************/
/**********************************ADMIN*******************************************/
#admin{
  padding-top: 10rem;
  min-height: 900px;
  width: auto;
  overflow: hidden;
}
.row{
  background: #F2F2F2;
}
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
.alignMiddle{
  vertical-align: middle !important;
}
#table{
  cursor: pointer;
}
#cameraTable{
  cursor: pointer;
}
/**********************************END ADMIN*******************************************/
@media screen and (max-width: 767px) {
  .info-box{
    height: 70px;
    min-height: 70px;
  }
  .info-box-icon{
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .info-box-content{
    margin-left: 70px;
  }
  #video{
    padding-bottom: 0;
    padding-top: 0;
  }
  .videoCanvas {

    margin-left: 0px;
    margin-right: 0px;
  }
  .text-center-xs{
    text-align: center;
  }
  .aca {
    margin-top: 10px !important;
  }
  .responsive-container {
    position: relative;
    width: 100%;
    height: auto;
}
}
