<div id="statistics">
  <div bs-active-pane="tabsHorizontal"  bs-tabs>
    <div title="Busiest hour of the week’s days" bs-pane>
      <div class="Back form-group"><br>
        <div class="container"> 
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-facetime-video"></span> Select camera:</label>
              <div class="col-sm-3">
                <ui-select class="selector" on-select="drawByPeakHours(selected.id)" ng-model="selected">
                <ui-select-match>
                <span ng-bind="$select.selected.location"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in cameras">
              <span ng-bind="item.location"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </form>
    <div class="container text-center">
      <div class="col-xs-12">
        <h1><strong>Busiest hour of the week’s days</strong></h1>
      </div>
      <div class="col-xs-12 chart"> 
        <canvas class="chart chart-line" chart-data="peakHourData" chart-labels="peakHourLabels" chart-legend="true" chart-series="peakHourSeries" chart-options="peakHourOptions">
        </canvas>
      </div>
    </div>
  </div>
</div>
</div>
<div title="Traffic flow by hour of a day of the week" bs-pane>
  <div class="Back form-group"><br>
    <div class="container"> 
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-facetime-video"></span> Select camera:</label>
          <div class="col-sm-3">
            <ui-select class="selector" on-select="drawByHours(selected.id,0)" ng-model="selected">
            <ui-select-match>
            <span ng-bind="$select.selected.location"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in cameras">
          <span ng-bind="item.location"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">View average values:</label>
      <div class="col-sm-3">
        <div class="checkbox">
          <label>
            <input ng-model="showAverageHour" type="checkbox">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-calendar"></span> Select day:</label>
    <div class="col-sm-3">
      <ui-select class="selector" on-select="drawByHours(0,selectedDay.id)" ng-model="selectedDay">
      <ui-select-match>
      <span ng-bind="$select.selected.day"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in days">
    <span ng-bind="item.day"></span>
  </ui-select-choices>
</ui-select>
</div>
</div>
</form>
<div class="container text-center">
  <div class="col-xs-12">
    <h1><strong>Traffic flow by hour of a day of the week</strong></h1>
  </div>
  <div class="col-xs-12 chart" ng-hide="showAverageHour"> 
    <canvas class="chart chart-line" chart-data="hourData" chart-labels="hourLabels" chart-legend="true" chart-series="hourSeries" >
    </canvas> 
    </div>
  <div class="col-xs-12 chart" ng-show="showAverageHour"> 
    <canvas  class="chart chart-line" chart-data="averageHourData" chart-labels="hourLabels" chart-legend="true" chart-series="averageHourSeries" >
    </canvas> 
  </div>
</div>
</div>
</div>
</div>
<div title="Traffic flow by day of the week" bs-pane>
  <div class="Back form-group"><br>
    <div class="container"> 
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-facetime-video"></span> Select camera:</label>
          <div class="col-sm-3">
            <ui-select class="selector" on-select="drawByDays(selected.id)" ng-model="selected">
            <ui-select-match>
            <span ng-bind="$select.selected.location"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in cameras">
          <span ng-bind="item.location"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">View average values:</label>
      <div class="col-sm-3">
        <div class="checkbox">
          <label>
            <input ng-model="showAverageDay" type="checkbox">
          </label>
        </div>
      </div>

    </div>
  </div>
</form>
<div class="container text-center">
  <div class="col-xs-12">
    <h1><strong>Traffic flow by day of the week</strong></h1>
  </div>
  <div class="col-xs-12 chart" ng-hide="showAverageDay"> 
    <canvas class="chart chart-line" chart-data="dayData" chart-labels="dayLabels" chart-legend="true" chart-series="daySeries" >
    </canvas> 
  </div>
  <div class="col-xs-12 chart" ng-show="showAverageDay"> 
    <canvas class="chart chart-line" chart-data="averageDayData" chart-labels="averageDayLabels" chart-legend="true" chart-series="averageDaySeries" >
    </canvas> 
  </div>
</div>
</div>
</div>
</div>
<div title="Traffic Flow by month of the year" bs-pane>
  <div class="Back form-group"><br>
    <div class="container"> 
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"><span class="glyphicon glyphicon-facetime-video"></span> Select camera:</label>
          <div class="col-sm-3">
            <ui-select class="selector" on-select="drawByMonths(selected.id)" ng-model="selected">
            <ui-select-match>
            <span ng-bind="$select.selected.location"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in cameras">
          <span ng-bind="item.location"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">View average values:</label>
      <div class="col-sm-3">
        <div class="checkbox">
          <label>
            <input ng-model="showAverageMonth" type="checkbox">
          </label>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container text-center">
  <div class="col-xs-12">
    <h1><strong>Traffic Flow by month of the year</strong></h1>
  </div>
  <div class="col-xs-12 chart" ng-hide="showAverageMonth"> 
    <canvas class="chart chart-line" chart-data="monthData" chart-labels="monthLabels" chart-legend="true" chart-series="monthSeries" >
    </canvas> 
  </div>
  <div class="col-xs-12 chart" ng-show="showAverageMonth"> 
    <canvas class="chart chart-line" chart-data="averageMonthData" chart-labels="averageMonthLabels" chart-legend="true" chart-series="averageMonthSeries" >
    </canvas> 
  </div>
</div>
</div>
</div>
</div>
</div>
